<title>Jigsaw</title>
<div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
          <a class="navbar-brand" href="/home" style="color:#FF4500">Jigsaw</a></div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/home">Home</a>
              </li>
              <li>
                <a href="/profile">Profile</a>
              </li>
			  <li>
                <a href="/aboutus">About Us</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
		<li><h5 >Welcome Wen Hong!</h5></li>
		<li style="margin-left:30px;margin-bottom:8px"><input type="text" class="form-control input-lg" placeholder="Search"></input></li>


            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </nav>
    </div>
