<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="generator"
    content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />
    <title>Jigsaw</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/navbar.css" rel="stylesheet" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<%- include ../partials/navbar.ejs %>
  </head>
  <body style="background-color:#f6f6f6">
    <div class="container">
		<h1 class="page-header" style="color:#ccccff">About Us
                </h1>
		<p class="col-md-8 display-2" style="line-height:200%">Are you a web developer hoping to learn bartending? Or a basketballer seeking to develop your musical side? Welcome to Jigsaw! In our hour for hour exchange system, pick up or develop a skill of your choice with an experienced tutor, and in return show your appreciation by offering your benefactor your very own pet skill. 
 
Cohesion. Community. Connectivity. That’s what we’d like to introduce to the world. Without the involvement of monetary exchanges - hidden or otherwise - we aim to develop a community of people hungry for constant self-improvement and personal fulfilment while staying true to the universal spirit of giving according to each’s own ability. Helping people lift one another up, we bring cities together and strengthen their social fabric - promoting a more friendly, inclusive society.
 
Connecting the teenager with the elderly man, the local with the foreigner - that’s what we’d like to see.
		</p>
	</div>
	<br>
	<br>
	<div class="container">
	<div class="row">
    			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
				
					<!-- PRICE ITEM -->
					<div class="panel price panel-red">
						<div class="panel-heading  text-center">
						<h3>Premium</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$10</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-danger"></i> List more interests</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i> Featured profiles</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-danger" href="#">BUY NOW!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->
					
					
				</div>
				
				
				<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
				
					<!-- PRICE ITEM -->
					<div class="panel price panel-green">
						<div class="panel-heading arrow_box text-center">
						<h3>Standard</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$0</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="icon-ok text-success"></i> Limited interests</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> No featured profiles</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-success" href="#">FREE!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->
					
					
				</div>
				
				
				
				
			</div>
            
</div>
	</body>
</html>