<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="generator"
    content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />
    <title>Jigsaw</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/navbar.css" rel="stylesheet" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<%- include ../partials/navbar.ejs %>
  <script>
    function sendmsg() {
	var message = '<span class="chat-img pull-right"><img src="images/lamwenhong.jpg" alt="User Avatar" class="img-circle" height="50" width="50" /></span>'
	message += '<span class="pull-right"><h4>' + document.getElementById("btn-input").value + '</h4></span><br><br><br>'
	document.getElementById("chatbox").innerHTML += message;
	document.getElementById("btn-input").value = "";
	
   }
   function apply(){
	document.getElementById("apply-area").innerHTML += '<br><span class="text-center input-group-btn"><button class="btn btn-primary btn-sm" style="background-color:#ccccff;color:black" id="btn-chat" onclick="">Leave Feedback</button></span>';
  }
  </script>
  </head>
  <body style="background-color:#f6f6f6">
	<div class="container">
	    <div class="row">
		<div class="col-md-8">
		    <div class="panel panel-primary" style="border-color:black">
		        <div class="panel-heading" style="background-color:#ccccff;color:black;border-color:black">
		            <span class="glyphicon glyphicon-comment"></span> Chat
		        </div>
		        <div id="chatbox" class="panel-body" style="background-color:#f1f1f1;color:black;border-color:black;height:400px">
		            
		        </div>
		        <div class="panel-footer" id="apply-area">
		            <div class="input-group">
		                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
		                <span class="input-group-btn">
		                    <button class="btn btn-warning btn-sm" id="btn-chat" onclick="sendmsg()">
		                        Send</button>
		                </span>
				<span class="input-group-btn">
		                    <button class="btn btn-warning btn-sm" id="btn-chat" onclick="apply()">
		                        Apply</button>
		                </span>
		            </div>
		        </div>
		    </div>
		</div>
	    </div>
	</div>
   </body>
</html>
