<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jigsaw</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%- include ../partials/navbar.ejs %>
</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color:#ccccff">Search Results
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                    <img width="200" height="200" class="img-responsive img-circle" src="https://s3.amazonaws.com/37assets/svn/1065-IMG_2529.jpg" width="300" height="300" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <h3>Tan Liang Kok</h3>
		<h4>Interests: Basketball, Yoga</h4>
		<h4>Location: Jurong East </h4>
		<h4><div class="rating">
<span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
</div></h4>
                <a class="btn btn-primary"style="background-color:#ccccff;color:black;border-color:black"  href="#">View User <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-5">
                <a href="#">
                    <img width="200" height="200" class="img-responsive" src="http://enadcity.org/enadcity/wp-content/uploads/2017/02/profile-pictures.png"  width="300" height="300" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <h3>Bob Kissinger </h3>
		<h4>Interests: Basketball, Guitar</h4>
		<h4>Location: Bukit Timah </h4>
		<h4><div class="rating">
<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
</div></h4>
				
                <a class="btn btn-primary" style="background-color:#ccccff;color:black;border-color:black" href="/profile2">View User <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-5">
                <a href="#">
                    <img width="200" height="200" class="img-responsive" src="https://static1.squarespace.com/static/5577c8dce4b0b21c84ce1eaf/t/57aadcbf5016e1f87054a92d/1470816480699/Circle+profile+pic.png" alt="">
				</a>
            </div>
            <div class="col-md-7">
                <h3>Kenny Tan</h3>
		<h4>Interests: Taekwondo</h4>
		<h4>Location: Bedok </h4>
                <h4><div class="rating">
<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
</div></h4>
                <a class="btn btn-primary" style="background-color:#ccccff;color:black;border-color:black" href="#">View User <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <hr>

        <!-- Pagination -->
        <div class="row text-center" >
            <div class="col-lg-12" >
                <ul class="pagination" >
                    <li >
                        <a style="color:black" href="#">&laquo;</a>
                    </li>
                    <li>
                        <a style="background-color:#ccccff;color:black" href="#">1</a>
                    </li>
                    <li >
                        <a style="color:black" href="#">2</a>
                    </li>
                    <li>
                        <a style="color:black" href="#">3</a>
                    </li>
                    <li>
                        <a style="color:black"href="#">4</a>
                    </li>
                    <li>
                        <a style="color:black" href="#">5</a>
                    </li>
                    <li>
                        <a style="color:black" href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Jigsaw 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
